@include font-import(Roboto, '../font/Roboto-Regular.ttf', normal);
@include font-import(Roboto, '../font/Roboto-Thin.ttf', 300);
@include font-import(Roboto, '../font/Roboto-Bold.ttf', bold);
@include font-import(RobotoMed, '../font/Roboto-Medium.ttf', 500);
@include font-import(Shrikhand, '../font/Shrikhand-Regular.tff', normal);
*{
    margin: 0;
    font-family: Roboto, Shrikhand, sans-serif;
    text-decoration: none;
    &:active {text-decoration:none}
    &:visited{text-decoration:none;}
    &:link{text-decoration:none}
    &:hover{cursor: default;}
    &:focus{outline:none}
}
