.checkBox {
  opacity: 1;
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 30px;
  color: white;
  background-color: #99e2d0;
  padding: 30px;
  margin-right: -200px;
  grid-area: 1/11/3/12;
  left: 10px;
  transition: 1s;
}
article:hover > .checkBox {
  right: 0;
  margin-right: 0;
  transition: 1s;
  svg {
    transform: rotate(360deg);
    transition: 1s;
  }
}
